body {
  padding: 50px;
  background-color: rgb(44, 44, 44);
  color: white;
  font-size: 15px;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: block;
}
	
.delete-form button {
  border: none;
  padding: 5px;
  margin-bottom: 15px;
  font-weight: 500;
  background-color: rgb(196, 26, 26);
  color: white;
}

.delete-form button:hover {
  box-shadow: inset 1px 1px 20px rgba(0, 0, 0, 0.5);
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
  margin: 5px 0;
}